/*-------------------------------GLOBAL----------------------------*/

/*TEXTO GENERAL*/
p {
  font-weight: bold;
  color: rgb(5, 3, 5);
}

/*EDIT TITULOS*/
h2 {
  color: grey;
}

/*-------------------------------HEADER--------------------------*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  div .logo {
    width: 6rem;
    margin: 0.3rem;
    flex: 1;
  }

  .navbar {
    display: flex;
    justify-content: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 1rem;

    .container-fluid {
      display: flex;
      flex-direction: column;
      align-items: center;

      .navbar-toggler {
        background-color: goldenrod;
      }
    }

    .navbar-nav {
      display: flex;
      padding-left: 0;

      .nav-item {
        border-radius: 10px;
        cursor: pointer;
        list-style: none;
        padding: 1rem;
        text-align: center;
        color: #000;
        transition: all 0.5s;

        &:hover {
          background-color: #b4814c;
          color: #fff;
        }

        .nav-link {
          font-family: Arial, Helvetica, sans-serif;
          text-decoration: none;
          color: inherit;
          font-size: 1rem;
          color: rgb(0, 0, 0);

          &:hover {
            color: inherit;
          }
        }
      }
    }
  }
}

/*Navbar*/
.navbar-toggler {
  margin-top: 1rem;
}

/*-------------------------------FOOTER--------------------------------*/
.pie {
  color: black;
  display: block;

  .pie-gris {
    height: auto;
    background-color: rgb(128, 128, 128);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    div {
      h4 {
        font-size: 1.2rem;
      }
    }

    .link-footer {
      display: flex;
      justify-content: space-evenly;
    }
    .link-footer a {
      margin: 2rem;

      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

/*-----------------------------PRUEBA FLECHA ARRIBA----------------------------*/

.flecha-arriba {
  position: sticky;
  top: 90%;
  margin-left: 92%;
  width: 5rem;
}

/*---------------------------------Error 404---------------------------------*/

.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 5rem;
  }
  .error-imagen {
    width: 35rem;
  }

  p {
    font-size: 2rem;
    text-align: center;
  }

  .volver {
    background-color: #b4814c;
    border-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}
