@media (max-widht: 991px) {
  .home {
    div {
      .bg1 {
        div {
          h2 {
            font-size: 4rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  //GENERAL INDEX
  html {
    font-size: 75%;
  }
  .home {
    div {
      .bg1 {
        height: 100vh;
      }
    }
  }
  .index-sobre-mi {
    .index-texto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .index-foto {
      display: none;
    }
    .index-texto-foto {
      width: 100%;
    }
  }
  //SOBRE MI
  section {
    .sobre-mi {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div {
        .sobremi-imagen-1 {
          height: 60vh;
          width: 80vw;
          margin: 5rem;
        }
        .sobremi-imagen-2 {
          height: 60vh;
          width: 80vw;
          margin: 5rem;
        }
        .sobremi-imagen-3 {
          height: 60vh;
          width: 80vw;
          margin: 5rem;
        }
      }
      .sobre-mi-texto {
        width: 80vw;
      }
    }
  }

  @media (max-width: 480px) {
    html {
      font-size: 60%;
      p {
        font-size: 1.2rem;
      }
    }
    //COLECCIONES
    .colecciones {
      display: flex;
      flex-direction: column;
      align-items: center;

      .colecciones__contenedor {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
      }
    }

    //SOBRE MI
    .sobre-mi {
      div {
        .sobre-mi-imagen {
          height: 60vh;
        }
      }
    }
  }
}
