@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
  .index-sobre-mi {
    .index-texto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .index-foto {
      display: none;
    }
    .index-texto-foto {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  html {
    font-size: 67%;
  }
  p {
    font-size: 1.5rem;
  }

  //COLECCIONES
  .colecciones {
    display: flex;
    flex-direction: column;
    align-items: center;

    .colecciones__contenedor {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  //SOBRE MI
  .sobre-mi {
    div {
      .sobre-mi-imagen {
        height: 60vh;
      }
    }
  }
}
