* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "global";
@import "media";
@import "../bootstrap/scss/bootstrap";

$titulos: 3rem;
$textos: 1.5rem;

body {
  font-family: "Nanum Myeongjo", serif;
  background-color: white;
}

/*----------------------------INDEX----------------------------*/
.home {
  .contenedor-index {
    margin-top: 50px;

    .contenedor-titulo {
      margin-left: 6.3rem;
    }
    .contenedor-texto {
      font-size: $textos;
      border-left: solid 3px;
      padding: 1.2rem;
      margin: 4rem;
      margin-top: 0;
      background-color: white;

      p {
        text-decoration: wavy;
        margin-top: 1rem;
      }
    }
  }

  div {
    .bg1 {
      background-image: url("../imagenes/bg1.jpg");
      height: 180vh;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      div {
        padding-top: 10rem;
        h1,
        h2 {
          text-align: center;
          color: black;
          font-size: 7rem;
          text-shadow: 1px 1px 2px black;
        }
        h2 {
          font-size: 5rem;
        }
      }
    }

    .bg2 {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(137, 207, 216, 0.3)
        ),
        url("../imagenes/background-index2.jpg");
      height: 90vh;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      background-position-y: center;
    }
  }

  .index-sobre-mi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;

    .index-texto {
      margin: 5%;

      p {
        margin-left: 0;
        font-size: 1.2rem;
      }
    }
    .index-texto-foto {
      background-image: url("../imagenes/galeria 3.jpg");
      width: 90%;
      height: 50%;
      background-position: center;
      background-size: cover;
      border-radius: 1rem;
    }

    .index-foto {
      background-image: url("../imagenes/index-sobre-mi.jpg");
      margin-top: 10%;
      margin-right: 3rem;
      width: 50vw;
      height: 75%;
      background-size: cover;
      background-position: center center;
      border-radius: 1rem;
    }
    .btn {
      margin-top: 5%;
      color: white;
      background-color: black;
    }
  }
  .btn-index {
    background-color: black;
    color: white;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 3px;
    margin-top: 1rem;
    text-decoration: none;
  }
}

/*-------------------------------------CARRUSEL------------------------------------------*/
.h2-carrusel {
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 1px 2px rgba(255, 226, 146, 0.705);
}

/*-----------------------------------COLECCIONES---------------------------------------*/

.colecciones {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.5rem;
  }

  div {
    .colecciones-contenedor {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      border-bottom: solid 3px;
      padding: 20px;
      margin: 50px;
      background-color: rgba(238, 179, 125, 0.5);

      .colecciones-img {
        width: 25rem;
        margin: 0.5rem;
        transition: all 0.3s ease-in-out;
      }
      .colecciones-img:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}

/*------------------------------------GALERIA-----------------------------------------*/

.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;

  .fotos-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
  }
  .fotos-galeria img {
    width: 30rem;
    border-radius: 2.5rem;
    padding: 2rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

/*----------------------------------------CONTACTO--------------------------------------*/

#contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;

  .contacto1 {
    margin: 2rem;
    border-radius: 5px;
    background-color: rgba(238, 179, 125, 0.5);
    padding: 1rem;
  }
  .contacto1 input {
    margin: 1rem 1rem;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
  }
  .correo {
    width: 25rem;
  }
  .contacto1 textarea {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 90%;
  }
  .contacto1 select {
    margin: 1rem;
    font-size: 1.3rem;
    width: 20rem;
  }
  .contacto1 h2 {
    margin: 1rem;
    font-size: 2rem;
    color: black;
  }
  .contacto1 p {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

/*-------------------------------------------PREGUNTAS---------------------------------------*/

#preguntas {
  background-color: rgba(238, 179, 125, 0.2);
  border-left: solid 5px;
  border-color: rgb(0, 0, 0);
  padding: 2rem;
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  div {
    .preguntas-intro {
      font-size: 1.2rem;
    }
    .preguntas-intro-h1 {
      color: grey;
      font-size: 4rem;
      font-family: "Tangerine", cursive;
      display: flex;
      justify-content: center;
    }
    p {
      margin: 1rem 0rem 1rem 2rem;
    }
    h2 {
      font-size: 2rem;
      font-style: oblique;
    }
    ul {
      margin-left: 1.5rem;
    }
    .preguntas-lista {
      font-weight: bold;
      color: rgb(5, 3, 5);
    }
  }
}

/*-----------------------------------------SOBRE MI-------------------------------------------*/
.sobre-mi-intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  .divisor {
    width: 60vw;
    height: 30vh;
  }
}

.sobre-mi {
  display: flex;
  flex-direction: row;
  width: 100%;

  div {
    .sobremi-imagen-1 {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(137, 207, 216, 0.3)
        ),
        url("../imagenes/sobremi-1.PNG");
      height: 90vh;
      width: 49.5vw;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    .sobremi-imagen-2 {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(137, 207, 216, 0.3)
        ),
        url("../imagenes/sobremi-2.PNG");
      height: 90vh;
      width: 49.5vw;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    .sobremi-imagen-3 {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(137, 207, 216, 0.3)
        ),
        url("../imagenes/sobremi-3.PNG");
      height: 90vh;
      width: 49.5vw;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
  .sobre-mi-texto {
    width: 49.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    h2 {
      font-size: 1.5rem;
      background-color: black;
      color: white;
      padding: 0.5rem;
    }

    .sobre-mi-texto--margin {
      margin: 6rem;
      margin-top: 0;
    }
  }
}
